* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: calibri;
}

h2 {
    margin-bottom: 20px;
    color: gray;
}

.container {
    width: 500px;
    display: flex;
    flex-direction: column;
}

.sec1, .sec2 {
    display: flex;
    justify-content: space-between;
}

.sec {
    width: 50%;
    background-color: gray;
    padding: 16px;
    margin: 5px;
    border-radius: 4px;
    color: #fff;
}

.secD {
    display: flex;
    flex-direction: column;
}

.sub_sec {
    background-color: #eee;
    color: #333;
    padding: 12px;
    margin: 5px;
    border-radius: 4px;
}

.sub_sec_div {
    display: flex;
}

.sub_sec_div .sub_sec {
    flex-grow: 1;
}

@media screen and (max-width: 500px){
    .container {
        width: 100%;
    }
    .sub_sec_div {
        flex-direction: column;
    }
}